@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Header Start */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all .3s ease-in-out;
    height: 110px;
    z-index: 100;
}

.menu-container {
    max-width: 1420px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image img {
    width: 100px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text .brand {
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
    color: #C21807;
}

.logo-text .sub {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
}

nav {
    display: flex;
    align-items: center;
}

.desktop-menu ul {
    display: flex;
    gap: 44px;
}

.desktop-menu ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.mobile-menu {
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #1E1E1E;
    height: 80px;
}

/* Header End */

/* Shop Page Start */

#shopSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}

.row-container {
    max-width: 1420px;
    width: 80%;
}

.page-title h1 {
    color: #C21807;
    font-size: 35px;
}

.page-title .sub {
    color: white;
    font-size: 14px;
}

.featured-section {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#featured {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#featured .tag {
    position: absolute;
    top: 20px;
    background-color: #C21807;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
}

.featured-price {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.featured-price .prices {
    height: 70px;
    width: 70px;
    gap: 5px;
}

.featured-price .prices .size {
    font-size: 12px;
}

.featured-price .prices .price {
    font-size: 18px;
}

#featured .product-info {
    background-color: rgba(194, 24, 7, .8);
    color: white;
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    align-items: center;
}

.info .name {
    font-weight: 700;
    font-size: 20px;
}

.info .desc {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
}

.f-add-to-cart {
    width: 400px;
    color: #C21807;
    background-color: white;
    font-size: 14px;
    text-align: center;
    padding: 8px 14px;
    border-radius: 100px;
}

.kimbap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.kimbap .product-title h1{
    color: #C21807;
}

.kimbap .product-title .sub {
    color: white;
    font-size: 14px;
}

.kimbap .products {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.product-container {
    position: relative;  
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    width: 180px;
    height: 180px;
}

.image-container img {
    width: 100%;
}

.price-container {
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 3px;
}

.prices {
    height: 50px;
    width: 50px;
    background-color: #C21807;
    border-radius: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prices .size {
    text-transform: capitalize;
    font-size: 8px;
    line-height: 10px;
}

.prices .price {
    margin-top: 3px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
}

.product-container .product-info {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    height: 70px;
    padding: 10px;
}

.product-container .product-info .product-name {
    color: #C21807;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.product-container .product-info .variations {
    font-size: 10px;
    font-weight: 300;
}

.product-container .add-to-cart {
    background-color: #C21807;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
}

.rice-meal {
    margin-top: 20px;
}

.rice-meal .product-title h1 {
    color: #C21807;
}

.rice-meal .product-title .sub {
    color: white;
    font-size: 14px;
}

.rice-meal .products {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.rice-meal .product-container {
    width: 284px;
}

.rice-meal .product-container .image-container {
    width: 100%;
    height: auto;
    margin-bottom: -7px;
}

/* Shop Page End */

/* Contact Page Start */

.contact-page {
    background-image: url(/assets/images/background-image.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
}
.contact-page-opacity {
    transition: all 0.3s ease;
    filter: blur(10px);
}
.contact-page-context {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.contact-context {
    height: 550px;
    margin: auto 0;
    position: relative;
    top: 40px;
}

/* For contact us and get in touch */
.contact-text {
    display: flex;
    flex-direction: column;
    width: 52%;
    height: 10%;
    margin: 0 auto;
}
.contact-text .contact-us{
    color: rgb(250, 8, 8);
    font-size: 2rem;
    font-weight: bolder;
}
.contact-text .get-touch {
    font-size: 0.8rem;
}

/* For form */
.contact-form {
    width: 52%;
    height: 50%;
    padding-top: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
form input {
    width: 80%;
    padding: 10px;
    border-radius: 7px;
    outline: 0;
    border: 0;
    font-size: 0.8rem;
}
#message {
    width: 80%;
    height: 100px;
    padding: 5px 10px;
    border-radius: 7px;
    outline: 0;
    border: 0;
    font-size: 0.8rem;
}
#submitBtn {
    width: 100px;
    padding: 8px 5px;
    background-color: red;
    color: white;
    font-size: 0.9rem;
    position: relative;
    border-radius: 10px;
}
#submitBtn:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: rgb(249, 108, 108);
    transition: all 0.3s ease;
}
.disabled-button:hover {
    background-color: red;
}

/* For contact info */
.contact-info {
    padding-top: 10px;
    width: 52%;
    height: 22%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.contact-location, .contact-phone, .contact-mail {
    display: flex;
    gap: 10px;
}
.contact-location {
    width: 70%;
}
.contact-location i {
    font-size: 1.5rem;
    position: relative;
    top: 7px;
    color: red;
}
.contact-phone i, .contact-mail i {
    font-size: 1.3rem;
    color: red;
    position: relative;
    top: -4px;
}
.contact-location span, .contact-phone span, .contact-mail span {
    font-size: 0.8rem;
}

/* For the connects */
.contact-connect {
    width: 52%;
    margin: 0 auto;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contact-connect span {
    font-size: 0.9rem;
}
.contact-socials {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 5px;
    font-size: 1.5rem;
    color: red;
    padding-top: 10px;
}
.contact-socials i {
    border: 1px red solid;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.contact-socials i:hover {
    color: rgb(249, 108, 108);
    border-color: rgb(249, 108, 108);
    scale: 1.1;
    transition: all 0.3s ease;
}

/* copyright */
.copyright {
    width: 52%;
    margin: 0 auto;
    height: 30px;
    font-size: 0.8rem;
}    

/* For the image */
.contact-image {
    width: 40%;
    position: relative
}
.contact-image img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* For the modal */
.modal {
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -50%);
    scale: 0;
    color: white;
    width: 400px;
    height: 170px;
    background-color: black;
    border-radius: 20px;
}
.open-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1;
    transition: all 0.7s ease;
}
.close-modal {
    top: 0;
    left: 40%;
    scale: 0;
    transition: all 0.7s ease;
}
.modal h3 {
    margin-top: 5px;
    color: red;
    text-align: center;
}
.message-reply {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.modal button {
    margin: 20px auto;
    border: 0;
    outline: 0;
    border-radius: 15px;
    width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(253, 61, 61);
}
.modal button:hover {
    background-color: rgb(249, 108, 108);
    scale: 1.1;
    transition: all 0.3s ease;
}

/* Contact Page End */
